body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   
}
body p{
    text-align: justify;
}
h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name{
    color: orange;
}
.flex-section{
    display: flex;
    
    
}
.first-section{
    background-image: url("images/top-banner.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.half-width{
    width: 45%;
    padding-left: 5%;
    margin: 2%;
}
.half-width img{
    width: 80%
    ;
    margin-top: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(to left, orange , tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(65, 37, 37);
    font-weight: 600;
    margin-top: 20px;
}
.second-section{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
h3{
    color: crimson;
}
.experience-level{
    height: 300px;
    width: 40%;
    
    box-shadow: 5px 5px 10px;
    padding: 2%;
    
    
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left;
}
#baby-exp{
    border-left: 5px solid;
    border-image: linear-gradient(orange , rgb(145, 255, 71));
    border-image-slice: 1;
}
#pro-exp{
    border-left: 5px solid;
    border-image: linear-gradient(orange , rgb(86, 255, 71));
    border-image-slice: 1;
}
.last-section{
    height: 300px;
}
.last-section h1{
    text-align: center;
    color:goldenrod;
}
.client{
    background-color: tomato;
    margin:10px 100px ;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    height: 120px;
}
.client h4{
    color: rgb(255, 0, 191);
}
footer p{
    text-align: center;
    
}